<footer class="py-3 my-4 navbar-fixed-bottom footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Главная</a></li>
      <li class="nav-item"><a href="/contacts/" class="nav-link px-2 text-muted">Контакты</a></li>
      <li class="nav-item"><a href="/blog/" class="nav-link px-2 text-muted">Блог</a></li>
      <li class="nav-item"><a href="/event/" class="nav-link px-2 text-muted">Aкции</a></li>
      <li class="nav-item"><a href="/catalog_main/" class="nav-link px-2 text-muted">Все каталоги</a></li>
      <li class="nav-item"><a href="tel:+77777777777" class="nav-link px-2 text-muted">Позвонить</a></li>
    </ul>
    <p class="text-center text-muted"></p>
</footer>