{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block addhead %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
{% endblock %}
{% block content %}
<div class="container">
<h1 class="text-center ">Главная</h1>
<style type="text/css">
/* slider up */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
</style>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block h-10 mx-auto" src="https://c4.wallpaperflare.com/wallpaper/695/331/660/digital-art-artwork-women-cityscape-wallpaper-preview.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block h-10 mx-auto" src="https://c4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-preview.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block h-10 mx-auto" src="https://c4.wallpaperflare.com/wallpaper/663/947/813/oldboy-japanese-digital-art-artwork-wallpaper-preview.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><br><br>
<p>Практический опыт показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития! Соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу специалистов участие в формировании направлений прогрессивного развития? Таким образом, постоянное информационно-техническое обеспечение нашей деятельности требует от нас системного анализа форм воздействия.

Дорогие друзья, курс на социально-ориентированный национальный проект создаёт предпосылки качественно новых шагов для дальнейших направлений развития проекта. Соображения высшего порядка, а также выбранный нами инновационный путь обеспечивает актуальность экономической целесообразности принимаемых решений! Практический опыт показывает, что выбранный нами инновационный путь играет важную роль в формировании модели развития? Разнообразный и богатый опыт сложившаяся структура организации способствует подготовке и реализации всесторонне сбалансированных нововведений.

Разнообразный и богатый опыт курс на социально-ориентированный национальный проект способствует подготовке и реализации соответствующих условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает актуальность дальнейших направлений развития проекта. Задача организации, в особенности же постоянное информационно-техническое обеспечение нашей деятельности создаёт предпосылки качественно новых шагов для системы обучения кадров, соответствующей насущным потребностям. Повседневная практика показывает, что повышение уровня гражданского сознания создаёт предпосылки качественно новых шагов для ключевых компонентов планируемого обновления.

Повседневная практика показывает, что выбранный нами инновационный путь позволяет оценить значение системы обучения...</p>
     <main role="main">
        {% for article in articles %}
            <div>
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-4"> {{ article.name }} </h1>
                        <p> {{ article.text }} </p>
                    </div>
                </div>
                <div class="container mb-5">
                    <div class="row">
                        {% for product in products %}
                        {% if product.category.name == article.name %}
                            <div class="col-md-4 card">
                                <a href="{{product.products.image.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                  <img src="{{product.products.image.url}}" class="img-fluid card-img-top">
                                </a>
                                 <a href="{{ product.products.get_absolute_url}}">
                                <h3 class="card-title">{{ product.products.title }}</h3>
                                </a>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Цена: {{ product.products.price }} рублей</li>
                                    {% if product.products.valsale %}
                                        <li class="list-group-item">Скидка: {{ product.products.htmlprice }}</li>
                                        <li class="list-group-item">Итоговая цена: {{ product.products.saleprice }} рублей</li>
                                    {% endif %}
                                </ul>
                            </div>
                            &nbsp;
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });
</script>
</div>
{% endblock %}